body, html {
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero {
  height: 675px;
  background-color: #4A5CF0;
}

.hero-image {
  height: 100%;
  width: 100vw;
  opacity: 0.5;
  position: relative;
}

.container {
  margin: 40px;
  text-align: center;
}

.homeTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  margin-top: 0;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#47AAEF), to(#4A5CF0));
  background: linear-gradient(to right, #47AAEF, #4A5CF0);
}

.homeTextContainer .homeText {
  width: 900px;
}

.homeTextContainer .logo {
  margin-top: 25px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: black;
}

.whatWeOffer {
  margin-top: 60px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  grid-gap: 15px;
  font-size: 24px;
}

.training {
  border-radius: 30px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47AAEF), to(#4A5CF0));
  background-image: linear-gradient(to bottom right, #47AAEF, #4A5CF0);
}

.networking {
  border-radius: 30px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47AAEF), to(#4A5CF0));
  background-image: linear-gradient(to bottom right, #47AAEF, #4A5CF0);
}

.resources {
  border-radius: 30px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#47AAEF), to(#4A5CF0));
  background-image: linear-gradient(to bottom right, #47AAEF, #4A5CF0);
}

.offerText {
  font-size: 18px;
}

.applyNow {
  font-size: 48px;
}

.application {
  border-radius: 30px;
  font-size: 18px;
}

.application .appGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.application .formInfo {
  width: 500px;
  height: 50px;
  font-size: 14px;
}

.application .subBTN {
  text-align: center;
  margin-top: 50px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.application .btn {
  color: black;
  background-color: lightblue;
  height: 50px;
  width: 100px;
}

.application .submit {
  color: white;
  font-size: 30px;
  height: 80px;
  width: 200px;
  border-radius: 30px;
  background-color: #47AAEF;
}

.application .submit:hover {
  background-color: #4A5CF0;
}

.application input {
  border-color: #4A5CF0;
  border-width: 2px;
  border-radius: 30px;
}

.application select {
  width: 300px;
  height: 50px;
  font-size: 14px;
}

.application .englishLevel {
  margin-top: 50px;
}

footer {
  background-color: #4A5CF0;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_icons {
  font-size: 100px;
  text-decoration: none;
  margin-right: 40px;
  margin-top: 60px;
}

footer .fa {
  text-decoration: none;
}

footer .fa-twitter {
  color: white;
}

footer .fa-facebook {
  color: white;
}

footer .fa-instagram {
  color: white;
}
/*# sourceMappingURL=home.css.map */